/* Общие стили для body */
body {
    background-color: lightgrey; /* Устанавливает светлый фон страницы */
    font-family: sans-serif; /* Устанавливает шрифт sans-serif */
    box-sizing: content-box; /* учета границ и паддингов */
}

/* Стили для контейнера, внутри которого находится контент */
.container {
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
    padding-top: 50px; /* Добавляет отступ сверху */
    max-width: 800px; /* Ограничивает максимальную ширину контейнера */
}

/* Стили для списка задач */
.todo-list {    
    display: block; /* Устанавливает блочный элемент */
    margin: 0 auto 100px; /* Центрирует контейнер и добавляет отступ снизу */
    background-color: #1ba39c; /* Устанавливает фоновый цвет */
    padding: 30px; /* Добавляет отступы внутри контейнера */
    border-radius: 10px; /* Скругляет углы */
    box-shadow: 0 2px 10px 0 #074b83; /* Добавляет тень */
}

/* Стили для заголовка h1 */
h1 {
    text-align: center; /* Центрирует заголовок */
    margin-top: 0; /* Убирает отступ сверху */
    margin-bottom: 20px; /* Добавляет отступ снизу */
    color: white; /* Белый цвет текста */
    font-size: 42px; /* Устанавливает размер шрифта */
}

/* Стили для текстового поля */
input[type="text"] {
    padding: 10px; 
}

input[type="text"]:focus {
    outline: none;
}

.create-new-todo {
    display: flex;
    flex-direction: column;
}

input[type="text"], 
button.add {
    flex: 1; /* Одинаковая ширина */
}

/* Стили для кнопки */
button {
    outline: none; /* Убирает внешнюю обводку */
    border: none; /* Убирает границу */
    margin-top: 20px; /* Добавляет отступ сверху */
    padding: 10px; /* Добавляет внутренние отступы */
    cursor: pointer; /* Изменяет курсор на указатель */
    transition: 0.5s ease; /* Плавно изменяет цвет кнопки при переводе курсора */
    font-weight: 600; /* жирный текст */
}

button:hover { /* Изменяет цвет кнопки при наведение курсора */
    background-color: #074b83;
    color: #fff;
    transition: 0.5s ease;  /* Плавно изменяет цвет кнопки при наведение курсора */
}

/* Стили для кнопки удаления */
.delete, .important-btn, .edit {
    height: 20px; /* Устанавливает высоту иконки */
    width: 20px; /* Устанавливает ширину иконки */
}

.important {
    font-weight: 600;
    color: red;
}

/* Стили для списка задач */
.todo {
    padding-left: 0; /* Убирает отступ слева */
    text-align: center; /* Нет задач посередине */
}

/* Стили для каждого элемента списка задачи */
.todo li {
    list-style-type: none; /* Убирает стандартные маркеры списка */
    word-break: break-all; /* Переносит длинные слова на новую строку */
    display: flex; /* Использует flexbox для распределения элементов */
    justify-content: space-between; /* Размещает элементы на концах */
    align-items: center; /* Центрирует элементы по вертикали */
    padding: 5px; /*Добавляет отступы между элементами */
}

.edit-input {
    width: 70%;
    border: none;
    outline: none;
    background: #1ba39c; /* Устанавливает фоновый цвет */
    display: inline-block; /* Устанавливает inline блок для чекбокса и метки */
    vertical-align: middle; /* Выравнивает элементы по вертикали */
    padding: 5px; /*Добавляет отступы между элементами */
    margin-right: 1em;
    cursor: pointer; /* Изменяет курсор на указатель */
}

/* Стили для чекбокса и метки */
input[type='checkbox'],
label {
    display: inline-block; /* Устанавливает inline блок для чекбокса и метки */
    vertical-align: middle; /* Выравнивает элементы по вертикали */
    margin-right: 1em; /* Добавляет отступы между элементами */
    cursor: pointer; /* Изменяет курсор на указатель */
    margin: 6px; /* Добавляет отступы между элементами */
}

/* Стили для разделителя между задачами */
.todo li:not(:last-child) {
    border-bottom: 1px solid #000; /* Добавляет границу снизу для всех, кроме последнего элемента */
}

/* Стили для скрытого чекбокса */
input[type='checkbox'] {
    opacity: 0; /* Скрывает чекбокс */
    position: absolute; /* Убирает его из потока документа */
}

/* Стили для псевдоэлемента перед меткой (контейнер для чекбокса) */
input[type='checkbox'] + label::before {
    content: ''; /* Пустое содержимое */
    background: #1ba39c; /* Устанавливает фоновый цвет */
    border: 2px solid #ddd; /* Устанавливает цвет и толщину границы */
    display: inline-block; /* Отображает как блочно-строчный элемент */
    vertical-align: middle; /* Выравнивает по центру */
    width: 10px; /* Ширина элемента */
    height: 10px; /* Высота элемента */
    padding: 2px; /* Внутренние отступы */
    margin-right: 10px; /* Отступ справа */
    text-align: center; /* Выравнивает содержимое по центру */
}

/* Стили для чекбокса, когда он отмечен */
input[type='checkbox']:checked + label::before {
    content: ''; /* Пустое содержимое */   
    width: 1px; /* Ширина линии */
    height: 5px; /* Высота линии */
    border: solid blue; /* Синий цвет линии */
    border-width: 0 3px 3px 0; /* Настройка границ для создания галочки */
    transform: rotate(45deg); /* Поворот на 45 градусов */
    margin: 0 15px 5px 5px; /* Внешние отступы */
}

.tools {
    display: flex;
    align-items: center;
}

/* media-запросы */
@media (max-width: 375px) {
    .container {
        width: 276px;
    }

    h1 {
        margin-bottom: 10px; /* Добавляет отступ снизу */
        font-size: 24px; /* Устанавливает размер шрифта */
        color: #000000; /* Устанавливает цвет текста */
    }
}

@media (min-width: 376px) and (max-width: 575px) {
    .container {
        width: 356px;
    }

    h1 {
        margin-bottom: 15px; /* Добавляет отступ снизу */
        font-size: 36px; /* Устанавливает размер шрифта */
        color: orange; /* Устанавливает цвет текста */
    }
}

@media (min-width: 576px) and (max-width: 1080px) {
    .container {
        width: 600px;
    }

    h1 {
        margin-bottom: 20px; /* Добавляет отступ снизу */
        font-size: 36px; /* Устанавливает размер шрифта */
    }
}















