/* Общие стили для body */
body {
    background-color: lightgrey; /* Устанавливает светлый фон страницы */
    font-family: sans-serif; /* Устанавливает шрифт sans-serif */
    box-sizing: content-box; /* учета границ и паддингов */
}

/* Стили для контейнера, внутри которого находится контент */
.container {
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
    padding-top: 50px; /* Добавляет отступ сверху */
}

/* Стили для важного текста */
.important {
    font-weight: bold; /* Устанавливает жирное начертание */
    color: #a40e11; /* Устанавливает красный цвет текста */
}

/* Стили для списка задач */
.todo-list {
    max-width: 500px; /* Ограничивает максимальную ширину контейнера */
    display: block; /* Устанавливает блочный элемент */
    margin: 0 auto 100px; /* Центрирует контейнер и добавляет отступ снизу */
    background-color: #1ba39c; /* Устанавливает фоновый цвет */
    padding: 30px; /* Добавляет отступы внутри контейнера */
    border-radius: 10px; /* Скругляет углы */
    box-shadow: 0 2px 10px 0 #074b83; /* Добавляет тень */
}

/* Стили для заголовка h1 */
h1 {
    text-align: center; /* Центрирует заголовок */
    margin-top: 0; /* Убирает отступ сверху */
    margin-bottom: 20px; /* Добавляет отступ снизу */
    color: white; /* Белый цвет текста */
    font-size: 42px; /* Устанавливает размер шрифта */
}

/* Стили для блока с формой создания новой задачи */
.create-new-todo {
    text-align: center; /* Центрирует форму */
}

/* Стили для текстового поля */
input[type="text"] {
    width: 376px; /* Устанавливает ширину поля ввода */
    padding: 10px; /* Добавляет внутренние отступы */
}

/* Стили для кнопки */
button {
    outline: none; /* Убирает внешнюю обводку */
    border: none; /* Убирает границу */
    margin-top: 20px; /* Добавляет отступ сверху */
    width: 400px; /* Устанавливает ширину кнопки */
    padding: 10px; /* Добавляет внутренние отступы */
    cursor: pointer; /* Изменяет курсор на указатель */
    transition: 0.5s ease; /* Плавно изменяет цвет кнопки при переводе курсора */
    font-weight: 600; /* жирный текст */
}

button:hover { /* Изменяет цвет кнопки при наведение курсора */
    background-color: #074b83;
    color: #fff;
    transition: 0.5s ease;  /* Плавно изменяет цвет кнопки при наведение курсора */
}

/* Стили для кнопки удаления всех задач */
.delete {
    margin-top: 20px; /* Добавляет отступ сверху */
    width: 400px; /* Устанавливает ширину кнопки */
}

/* Стили для списка задач */
.todo {
    padding-left: 0; /* Убирает отступ слева */
}

/* Стили для каждого элемента списка задачи */
.todo li {
    padding: 1em; /* Добавляет отступы внутри элементов */
    list-style-type: none; /* Убирает стандартные маркеры списка */
    word-break: break-all; /* Переносит длинные слова на новую строку */
    display: flex; /* Использует flexbox для распределения элементов */
    justify-content: space-between; /* Размещает элементы на концах */
    align-items: center; /* Центрирует элементы по вертикали */
}

/* Стили для разделителя между задачами */
.todo li:not(:last-child) {
    border-bottom: 1px solid #000; /* Добавляет границу снизу для всех, кроме последнего элемента */
}

/* Стили для кнопки удаления */
.delete {
    height: 20px; /* Устанавливает высоту кнопки */
    width: 20px; /* Устанавливает ширину кнопки */
}

/* Стили для скрытого чекбокса */
input[type='checkbox'] {
    opacity: 0; /* Скрывает чекбокс */
    position: absolute; /* Убирает его из потока документа */
}

/* Стили для чекбокса и метки */
input[type='checkbox'],
label {
    display: inline-block; /* Устанавливает inline блок для чекбокса и метки */
    vertical-align: middle; /* Выравнивает элементы по вертикали */
    margin: 5px; /* Добавляет отступы */
    cursor: pointer; /* Изменяет курсор на указатель */
}

/* Стили для псевдоэлемента перед меткой (контейнер для чекбокса) */
input[type='checkbox'] + label:before {
    content: ''; /* Пустое содержимое */
    background: #1ba39c; /* Устанавливает фоновый цвет */
    border: 2px solid #ddd; /* Устанавливает цвет и толщину границы */
    display: inline-block; /* Отображает как блочный элемент */
    vertical-align: middle; /* Выравнивает по центру */
    width: 10px; /* Ширина элемента */
    height: 10px; /* Высота элемента */
    padding: 2px; /* Внутренние отступы */
    margin-right: 10px; /* Отступ справа */
    text-align: center; /* Выравнивает содержимое по центру */
}

/* Стили для чекбокса, когда он отмечен */
input[type='checkbox']:checked + label:before {
    content: ''; /* Пустое содержимое */
    display: inline-block; /* Отображение как блок */
    width: 1px; /* Ширина линии */
    height: 5px; /* Высота линии */
    border: solid blue; /* Синий цвет линии */
    border-width: 0 3px 3px 0; /* Настройка границ для создания галочки */
    transform: rotate(45deg); /* Поворот на 45 градусов */
    margin: 0 15px 5px 5px; /* Отступы */
}
